{% extends "layout.html" %}

{% block content %}
<div class="content_section">
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!-- NEEDED, this helps protect user security by adding CSRF (Cross Site Request Forgery) token -->
        <fieldset class="form-group"> <!-- Bootstrap class to help make look nicer -->
            <legend class="border-bottom"> <!-- mb-4 == margin bottom with a value of 4 -->
            Password Generator
            </legend>
        </fieldset>

        <div class="form-check">
            {{ form.lowercase() }}
            <label class="form-check-label" for="exampleCheck1">Lowercase</label>
        </div>
        <div class="form-check">
            {{ form.uppercase() }}
            <label class="form-check-label" for="exampleCheck1">Uppercase</label>
        </div>
        <div class="form-check">
            {{ form.nums() }}
            <label class="form-check-label" for="exampleCheck1">Numbers</label>
        </div>
        <div class="form-check mb-4">
            {{ form.syms() }}
            <label class="form-check-label" for="exampleCheck1">Symbols</label>
            <small id="emailHelp" class="form-text text-muted">Symbols include !@#$%^&*</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Maximum amount of numbers</label>
            {% if form.min_nums.errors %}
                {{ form.min_nums(class="is-invalid") }}
                    <div class="invalid-feedback">
                    {% for error in form.min_nums.errors %}
                    <span>
                    {{ error }}
                    </span>
                    {% endfor%}
                    </div>
            {% else %}
                {{ form.min_nums() }}
            {% endif %}
            
            <small id="emailHelp" class="form-text text-muted">You can enter any number up to 15 (if "Numbers" is not checked above, this value will be ignored).</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Maximum amount of symbols</label>
            {{ form.min_syms() }}
            <small id="emailHelp" class="form-text text-muted">You can enter any number up to 15 (if "Symbols" is not checked above, this value will be ignored).</small>
        </div>
        <div class="form-group mb-4">
            <label for="exampleInputEmail1">Password Length</label>
            {{ form.pass_len() }}
            <small id="emailHelp" class="form-text text-muted">A password of length 8 or longer is recommended (maximum 32 characters).</small>
        </div>
        <div class="form-group mr-4">
        <button type="submit" class="btn btn-primary">Submit</button>
        {{form.display(readonly=true)}}
        </div>
    </form>
</div>
{% endblock content %}

{% block sidebar %}
<div class="col-md-4">
	<div class="content-section">
	<h3>{{ title }}</h3>
    	<p class='text-muted'>A password generator which generates a random password based on user input, including which character sets to include, minimum amounts of numbers and symbols, and password length. The copy password button enables users to copy the generated password for ease of use.
        <ul class="list-group">
        <li class="list-group-item list-group-item-light">
        <a href="https://github.com/JasonMTarka/Password-Generator/blob/main/password_generator.py">Web version - Github Link</a>
        </li>
        <li class="list-group-item list-group-item-light">
        <a href="https://github.com/JasonMTarka/Password-Generator/blob/main/password_generator.py">Tkinter GUI version - Github Link</a>
        </li>
        <li class="list-group-item list-group-item-light"><a href="https://www.linkedin.com/in/jason-tarka-342b371a6/">My LinkedIn</a></li>
        <li class="list-group-item list-group-item-light">jasonmtarka@gmail.com</li>
        </ul>
        </p>
    </div>
</div>
{% endblock sidebar %}